.crystal-image {
  width: 100px;
  height: 100px;
  display:block;
  margin:auto;
}

.crystal-image:hover {
  cursor: pointer;
}

.gemsbg {
  background-image: url("../images/Gems.jpg");
}
.bgtrans {
  background-color: #ffffff;
  opacity: 0.4;
  color: black;
}

#crystals-needed, #total {
  font-size: 2em;
  
}